.main {
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  overscroll-behavior: scroll;
  background-image: url("/beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 720px;
  /* max 4 cards each of 180px width */
}

.card {
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  color: black;
  /* Black text color */
  font-size: 1.2em;
  /* Larger font size */
}

.rsvpYes {
  background-color: #d4edda;
  /* Light Green */
}

.rsvpNo {
  background-color: #f8d7da;
  /* Light Red */
}

.homeButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.spinner {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}